body {
    font-family: 'Work Sans', sans-serif;
    background-image: linear-gradient(to right, #ff9b5d, #ff476e);
    color: white;
}

h1 {
    font-size: 2rem;
}

button {
    border-radius: 6px;
}

img {
    width: 400px;
    height: auto;
}

a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: black;
    opacity: 1;
    text-decoration: none;
}

.li_cancion a {
    color: black;
}

.li_cancion a:hover {
    color: gray;
}

.li_cancion, .li_parrafo {
    color: black;
    background-color: white;
    padding: 6px;
    margin-bottom: 1%;
    box-shadow: 1px 1px 20px 1px black;
    border-radius: 5px;
}

#canciones ul li, #ul_comentarios li {
    display: inline-block;
    list-style: none;
}

img.miniatura_cancion {
    width: 100px;
    height: 100px;
}

div#cancion ol li {
    list-style: none;
}