body {
    font-family: 'Work Sans', sans-serif;
    background-color: #1F1B24;
    color: white;
}

h1 {
    font-family: "Bruzh";
    letter-spacing: 2px;
}

#caja_login {
        display: flex;
        align-items: center;
        justify-content: center;
}