body {
    font-family: 'Work Sans', sans-serif;
    background-color: #252525;
    color: #dcddde;
}

h1 {
    font-size: 2rem;
}

button {
    border-radius: 6px;
}

a {
    color: #dcddde;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: #797979;
    opacity: 1;
    text-decoration: none;
}

.li_cancion {
    padding: 6px;
    margin-bottom: 1%;
    box-shadow: 1px 1px 20px 1px rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

#canciones ul li, #ul_comentarios li {
    display: inline-block;
    list-style: none;
}

img.foto_cancion {
    max-width: 80px;
    height: auto;
}

div#cancion ol li {
    list-style: none;
}

.footer {
    border-top: white 2px solid;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #242323;
    width: 100%;
    text-align: center;
}